@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .heading-text {
    @apply text-[22px] font-[600] text-primary-text-color font-inter;
  }
}

@layer components{
  .scrollBarDesign{
    @apply [&::-webkit-scrollbar]:w-[5px]
    [&::-webkit-scrollbar]:h-[5px]
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  }
}
